<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clean SSML Tags</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Clean SSML Tags</h1>
      <form method="POST">
        <p>Files in folder: {{ folder }}</p>
        <button type="submit" class="btn btn-primary">Clean SSML</button>
      </form>
    </div>
  </body>
</html>
